.banner-desc p{
    text-align: left;
    margin-bottom: 0;
    color: #d0d0d0;
    line-height: normal;
}
.banner-desc h1{
    text-align: left;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff!important;
}
.banner-desc{
    position: relative;
    top: 90px;
}
