.hide{
    display: none;
}
.show{
    display: block;
}
.people .add{
    color: #fff;
    background-color: #eedeff;
    border-color: #eedeff;
    color: #8251bc;
    padding: 6px 30px;
}
.people .add:focus {
    box-shadow: 0 0 0 0.2rem #8251bc;
}
.people .edit{
    color: #ffd767;
    background-color: #fffede;
    border-color: #fffede;
}
.people .edit:focus {
    box-shadow: 0 0 0 0.2rem #ffd767;
}
.people .btn-section{
    display: flex;
    justify-content: flex-end;
}
.people-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 10px;
    -webkit-box-shadow: -7px 6px 13px -9px #969696;
    box-shadow: -7px 6px 13px -9px #969696;
    margin: 10px;
    cursor: pointer;
    border: none;
    width: 18%;
}
.card .edit {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #dcf0ff;
    border-radius: 50%;
    padding: 10px;
}
.card .remove {
    position: absolute;
    left: 10px;
    top: 10px;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
}
.cnt {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cnt input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
.cnt:hover input ~ .checkmark {
    background-color: #ccc;
}
.cnt input:checked ~ .checkmark {
    background-color: #252584;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.cnt .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cnt input:checked ~ .checkmark:after {
    display: block;
}
.cancel {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.cancel p {
    margin: 0!important;
    font-weight: bold;
}
.garbage .cont {
    cursor: pointer;
    background: #ffeeee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.cont {
    cursor: pointer;
    background: #ffeeee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.delete{
    display: flex;
    align-items: center;
}
@media (max-width: 1200px) {
    .card {
        width: 25%!important;
    }
    .carousel-indicators {
        bottom: 20px;
    }
}
@media (max-width: 768px) {
    .card {
        width: 45%!important;
    }
}

/**********modal********************/
.content label{
    color: #141471;
    font-weight: bold;
}
.content .modal-header {
    border-bottom: none;
}
.content .modal-footer{
    border-top: none;
}
.user {
    margin: auto;
    background: #dcf0ff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.user .img-fluid:first-child {
    border-radius: 50%;
}
.user .edit {
    position: absolute;
    right: 200px;
    top: 79px;
    background: #dcf0ff;
    border-radius: 50%;
    padding: 10px;
    -webkit-box-shadow: -7px 6px 13px -9px #969696;
    box-shadow: -7px 6px 13px -9px #969696;
}
.inputfile {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    cursor: pointer;
    margin: 0!important;
}