.carousel-icon{
    background-color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
}
.comment{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 6px 16px 15px -17px rgba(199,199,199,1);
    -moz-box-shadow: 6px 16px 15px -17px rgba(199,199,199,1);
    box-shadow: 6px 16px 15px -17px rgba(199,199,199,1);
    margin: 5px 10px;
}
.carousel-item .people img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: center;
}
.comment .name {
    font-weight: bold;
    color: #1b1e21!important;
    font-size: 1rem!important;
}
.comment p {
    margin-bottom: 0!important;
    color: #4e555b;
    text-align: left;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-row.top {
    margin-bottom: 15px;
}
.carousel.slide {
    margin: 50px 0 100px 0;
}

@media (max-width: 1050px) {
    .carousel-item {
        height: auto;
    }
}
