.footer .row{
    padding: 30px 0;
}
.footer h3{
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
    text-align: left;
}
.footer h4{
    font-size: 1.4rem;
    color: #fff;
    font-weight: 600;
    text-align: left;
}
.footer p{
    color: #bbb;
    font-size: 1rem;
    text-align: left;
}
.footer .col-sm-4,.footer .col-sm-8{
    align-items: center;
    display: flex;
}
