.contact {
    margin: 100px auto;
}

.contact .col-sm-6{
    padding-right: 0;
    padding-left: 0;
}
.contact .map{
    padding: 30px 0;
}
.form{
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    -webkit-box-shadow: 6px 16px 95px -17px rgba(199,199,199,1);
    -moz-box-shadow: 6px 16px 95px -17px rgba(199,199,199,1);
    box-shadow: 6px 16px 95px -17px rgba(199,199,199,1);
    height: max-content;
    text-align: left;
}
.form label{
    color: #252584;
    font-weight: 700;
}
.form .send-btn{
    color: #fff;
    background-color: #252584;
    border-color: #252584;
    float: right;
    padding: 6px 30px;
}
