body {
  margin: 0;
  padding: 0;
  font-family: "Courier New";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2.title {
  color: #252584;
  font-weight: 700;
  margin-bottom: 30px!important;
}
h2.title.center {
  margin: auto;
}
.banner {
  background-color: #252584;
  background-image: url(../src/images/2-banner/banner-rounded-001.svg), url(../src/images/2-banner/banner-rounded-002.svg);
  background-position: bottom 10px left -5%, bottom 10px right -5%;
  background-repeat: no-repeat;
}


.form-inline .form-control{
  background: transparent!important;
  border-color: #1e428e!important;
  color: #fff!important;
}
.mr-auto {
  text-align: left;
}
.navbar-light .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(251, 250, 250, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.top-section{
 margin-bottom: 100px;
  margin-top: 100px;
}
.top-section .col-lg-5{
  padding: 57px;
  text-align: left;
}
.carousel.slide {
  left: 20%;
  overflow-x: hidden;
  width: 80%;
  position: sticky;
}
.carousel-item {
  height: 320px;
}
.carousel-indicators {
  bottom: 60px;
}
.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background: #e0e0fe;
  background-clip: padding-box;
  opacity: .5;
  transition: opacity 0.6s ease;
}
.carousel-indicators .active{
  background: #252584;
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-clip: padding-box;
  transition: opacity 0.6s ease;
}
.footer{
  background-color: #252584;
  background-image: url(../src/images/6-footer/footer-rounded-001.svg), url(../src/images/6-footer/footer-rounded-002.svg);
  background-position: left bottom, right bottom;
  background-repeat: no-repeat;
  margin: 0!important;
}
@media (max-width: 1300px){
  .banner {
    background-image: url(../src/images/2-banner/banner-rounded-001.svg);
    background-position: bottom 10px left -5%;
    height: auto;
    min-height: 550px;
  }
  .footer{
    background-image: url(../src/images/6-footer/footer-rounded-001.svg);
    background-position: left bottom;
  }
}